asgiref
backports.zoneinfo;python_version<"3.9"
black
click
Django
django-filter
djangorestframework
importlib-metadata
Markdown
mypy-extensions
mysqlclient
pathspec
platformdirs
pytz
sqlparse
tomli
typing_extensions
zipp
