asgiref
backports.zoneinfo
black
click
Django
django-filter
djangorestframework
importlib-metadata
Markdown
mypy-extensions
mysqlclient
pathspec
platformdirs
pytz
sqlparse
tomli
typing_extensions
zipp
